@model Pumps101.Models.LevelModel

<script type="text/javascript">
    var Resource = { img: {}, sfx: {} }
    var canvas;
    var ctx;
    var width;
    var height;
    var GridSize = 40;
    Resource.img.container = new Image();
    Resource.img.pump = new Image();
    var imagesLoaded = false;
    function drawcanvas() {
        canvas = document.getElementById("canvas");
        ctx = canvas.getContext("2d");
        width = canvas.width;
        height = canvas.height;
        rows = height / GridSize;
        columns = width / GridSize;
        drawGrid();
        drawImages();
    }

    function drawGrid() {
        ctx.strokeStyle = "black";
        var i;
        for (i = 0; i < height; i += GridSize) {
            ctx.lineWidth = 1;
            ctx.moveTo(0, i);
            ctx.lineTo(width, i);
            ctx.stroke();
        }
        for (i = 0; i < width; i += GridSize) {
            ctx.lineWidth = 1;
            ctx.moveTo(i, 0);
            ctx.lineTo(i, height);
            ctx.stroke();
        }
    }

    function drawImages() {
        if (imagesLoaded) {
            @if(Model.Level == 1)
            {
                @:ctx.drawImage(Resource.img.pump, (width / 2) - 50, (height / 2), 100, 150);
            }
        }
        else {
            Resource.img.container.onload = function () {
                @if(Model.Level == 1)
                {
                    @:ctx.drawImage(Resource.img.pump, (width / 2) - 50, (height / 2), 100, 150);
                }
            };
            Resource.img.container.src = '@Url.Content("/Content/Images/container.PNG")';
            Resource.img.pump.src = '@Url.Content("/Content/Images/pump.PNG")';
            imagesLoaded = true;
        }
    }
</script>


<canvas id="canvas">
    HTML5 Canvas not supported.
</canvas>
<div id="fix">&copy; @DateTime.Now.Year - Pumps101</div>