<script type="text/javascript">
    var Resource = { img: {}, sfx: {} }
    var canvas;
    var ctx;
    var backgroundLoaded = false;
    Resource.img.background = new Image();
    function drawcanvas() {
        canvas = document.getElementById("canvas");
        ctx = canvas.getContext("2d");

        if (backgroundLoaded) {
            ctx.drawImage(Resource.img.background, 0, 0, canvas.width, canvas.height);
        }
        else {
            Resource.img.background.onload = function () {
                ctx.drawImage(this, 0, 0, canvas.width, canvas.height);
            };
            Resource.img.background.src = '@Url.Content("/Content/Images/outer_space.jpg")';
            backgroundLoaded = true;
        }

    }
</script>


<canvas id="canvas">
    HTML5 Canvas not supported.
</canvas>
<div id="fix">&copy; @DateTime.Now.Year - Pumps101</div>