body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    color: black;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
    background: white;
}

    #container canvas {
        vertical-align: top;
        display: block;
        overflow: auto;
    }

#fix {
    background: yellow;
    height: 20px;
    text-align: center;
}

#controls {
    top:1px;
    right:1%;
    position:absolute;
    width:100%;
}

#controls table{
    float:right;
}

#hpEntry{
    left:40%;
    top:40%;
    position:absolute;
}

#HPGuess {
    width:50px;
}

#gameresult
{
  position: fixed;
  top: 50%;
  left: 50%;
  z-index:100;
  width:60%;
  max-width:600px;
  transform: translate(-40%, -50%);
}

#scaffold
{
	border: solid black;
}

.video{
	width: 100%;
}

.centeredtext{
	text-align:center;
}